body {
  font-family: 'Lato', sans-serif;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}
:root {
  --bg-color: #ebebeb;
  --title-color: #0f8b8d;
  --text-color: #143642;
  --light-text-color: #2d7893;
  --sec-color: #ff7e00;
  --sec-light-color: #f2a153;
  --sec-dark-color: #d26801;
}
/* Colors */
h1, h2, h3 {
  color: var(--text-color);
}
body {
  background-color: var(--bg-color);
}
/* Header */
h1 {
  font-size: 3rem;
  color: var(--sec-color); 
}
h2 {
  font-size: 2.5rem;
}
header {
  text-align: center;
  flex: 1 0 auto;
  clip-path: polygon(0 100%, 100% 100%, 100% 24%, 69% 19%, 67% 0, 40% 20%, 0 23%);
  background-color: var(--text-color);
  padding: 3rem;
  align-self: center;
}
header p {
  font-style: italic;
  color: var(--bg-color);
}
section {
  margin-top: 1rem;
}
.section-header {
  display: flex;
  background-color: var(--text-color);
  max-width: 800px;
}
.section-header h2 {
  margin: 0;
  align-self: center;
  color: white;
}
.section-header .logo.rpf {
  height: 5rem;
}
.section-header .logo.cdf {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.25rem;
  height: 2.5rem;
}
.section-header .logo.pay {
  padding-right: 1rem;
  padding-left: 1.3rem;
  padding-top: 0.5rem;
  height: 2rem;
}
.section-header .logo.tn {
  padding-right: 1rem;
  padding-left: 1.3rem;
  height: 3.5rem;
}
.projects > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--light-text-color);
  min-height: 150px;
  flex-wrap: wrap;
  /*TODO remove ?*/
  margin-bottom: 1rem;
}
section:nth-child(odd) .projects > li {
  flex-direction: row-reverse;
}
section:nth-child(odd) .projects > li {
  flex-direction: row-reverse;
}
.desc {
  flex: 1 1 auto;
  color: var(--bg-color);
  padding: 2rem;
  flex-basis: 30%;
}
.desc h3 {
  color: var(--sec-light-color);
}
.desc a {
  color: var(--sec-color);
}
.desc a:visited {
  color: var(--sec-dark-color);
}
.images {
  flex: 1 1 60%;
  overflow: hidden;
  position: relative;
  min-height: 150px;
  border-bottom: 0.3rem solid var(--sec-light-color);
}
.images img {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
section:nth-child(odd) .images img {
  left: 0;
}
.images{
  transition: .5s;
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}
.images:hover {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
  mask-image: linear-gradient(rgba(0, 0, 00, 1.0), transparent);
}
section:nth-child(odd) .images {
  clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
}
section:nth-child(odd) .images:hover {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
}
.images img.scratch {
  animation: scratch 0.7s steps(29) forwards;
}
.images img.scratch:hover {
  animation: scratch_reverse 0.7s steps(29) forwards;
  mask: url('/img/eraser-sprite.png');
  mask-size: 3000% 100%;
}
@keyframes scratch {
 from {
  mask-position: 0 0;
 }

 to {
  mask-position: 100% 0;
 }
}
@keyframes scratch_reverse {
 from {
  mask-position: 100% 0;
 }

 to {
  mask-position: 0 0;
 }
}

