@media print {
	.print {
	  display: block;
	}
	.disable-print {
	  display: none;
	}
	body, article {
	  display: block;
	}
    header {
      justify-content: space-between;
    }
	article .about, article .experience, article .education {
	  display: block;
	}
    a:after {
      content:" (" attr(href) ") ";
      font-size: 0.8em;
      font-weight: normal;
      font-style: italic;
    }
	h1 {
	  font-size: 2rem;
	}
	h2 {
	  font-size: 1.3rem;
	}
    hgroup h1 {
      margin-bottom: 0.5rem;
    }
    hgroup h2 {
      margin-top: 0px;
    }
    h2::before {
      width: 0;
    }
	h3 {
	  font-size: 1.2rem;
	}
    summary {
      display: block;
    }
	.job {
	  break-inside: avoid;
	}
	.experience {
	  order: 1;
	}
	.education {
	  order: 2;
	}
	.about {
	  order: 3;
	}
    footer a {
      display: block;
    }
    footer h3 {
      text-align: left;
    }
    footer a:not(:first-child){
      margin-left: 0;
    }
	.reference {
	  position: fixed;
	  bottom: 0px;
	  font-size: 0.7rem;
	}
}
