@media print {
	.print {
	  display: block;
	}
	.disable-print {
	  display: none;
	}
	body, header, article {
	  display: block;
	}
	article .about, article .experience, article .education {
	  display: block;
	}
	h1 {
	  font-size: 2rem;
	}
	h2 {
	  font-size: 1.3rem;
	}
	h3 {
	  font-size: 1.2rem;
	}
	.job {
	  break-inside: avoid;
	}
	.experience {
	  order: 1;
	}
	.education {
	  order: 2;
	}
	.about {
	  order: 3;
	}
	.reference {
	  position: fixed;
	  bottom: 0px;
	  font-size: 0.7rem;
	}
}
