h1 /etc/dev/../random 
h4 because art tickles
ul(class='art-ticles')
	each article, slug in public.posts._data
		li
			a(href="/posts/#{ slug }") #{ article.title }
h3 Cron-tact : 
ul(class='cron-tact') 
	li
		a(href='https://twitter.com/gfelici') @Gfelici
	li
		a(href='https://github.com/wardormeur') Wardormeur 

